/* ================= SPLASH SCREEN ================= */
.splash-before::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    background: radial-gradient(circle,
            rgba(45, 168, 255, 0.35) 0%,
            rgba(45, 168, 255, 0.15) 30%,
            transparent 70%);
    filter: blur(25px);
    animation: glowPulse 1.8s ease-out forwards;
}

.splash-img {
    animation: powerOn 1.8s ease forwards;
    box-shadow:
        0 0 0 1px rgba(255, 255, 255, 0.05),
        0 0 30px rgba(45, 168, 255, 0.45),
        0 0 60px rgba(45, 168, 255, 0.25);
}

@keyframes powerOn {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }

    40% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.98);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes glowPulse {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    60% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }
}